<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактировать пользователя</title>
</head>
<body>
  <h2>Редактировать пользователя</h2>
  <form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <table>
      <tbody>
      <tr>
        <td><label for="username">Enter username: </label></td>
        <td><input type="text" th:field="*{username}" id="username"/></td>
      </tr>
      <tr>
        <td><label for="password">Введите пароль: </label></td>
        <td><input type="password" th:field="*{password}" id="password"/></td>
      </tr>
      <tr>
        <td><label for="email">Enter email: </label></td>
        <td><input type="text" th:field="*{email}" id="email"/></td>
      </tr>
      <tr>
        <td><label for="age">Enter age: </label></td>
        <td><input type="text" th:field="*{age}" id="age"/></td>
      </tr>
      </tbody>
    </table>
    <br>
    <p>
      <label>Roles:
        <input type="checkbox" name="authorities" th:each="role: ${roles}" th:text="${role.name}" th:value="${role.id}" th:field="*{roles}"/>
      </label>
    </p>
    <input type="submit" value="Изменить"/>
  </form>
  <form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Выйти">
  </form>

</body>
</html>