<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<!--Шапка сверху-->
<nav class="navbar navbar-dark bg-dark text-white">
    <div class="container-fluid" id="currentUser">
        <div class="row">
            <div class="col-mx-auto">
                <span class="navbar-brand h5" id="emailCurrentUser"></span>
                <span class="navbar-brand">
                    with roles:
                    <span id="rolesCurrentUser"></span>
                </span>
            </div>
        </div>
        <div class="coll-1 text-white">
            <a class="btn-link text-secondary" type="submit" href="/logout">Logout</a>
        </div>
    </div>
</nav>

<!--Панель слева с выбором роли-->
<div class="container-fluid">
    <div class="row">
        <div class="d-flex align-items-start">
            <!--Синие вкладки слева-->
            <div class="col-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
                </div>
            </div>
            <!--Синяя вкладка админ-->
            <div class="col-10 tab-content vh-100 bg-light" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="container m-3 flex-column">
                        <div class="container h1 p-1">
                            Admin panel
                        </div>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Users</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New user</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="card">
                                    <div class="card-header h5">
                                        All users
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped border-top">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First name</th>
                                                <th>Second name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody class="table-content"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="card">
                                    <div class="card-header h5">
                                        Add new user
                                    </div>
                                    <div class="card-body">
                                        <form name="newUser">
                                            <div class="text-center font-weight-bold">
                                                <div class="row">
                                                    <div class="col-4"></div>
                                                    <div class="col-4 align-self-center">
                                                        <div class="mb-3">
                                                            <label for="newFirstName" class="col-form-label"><b>First name</b></label>
                                                            <input type="text" name="firstName" class="form-control" id="newFirstName">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="newLastName" class="col-form-label"><b>Last name</b></label>
                                                            <input type="text" name="lastName" class="form-control" id="newLastName">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="newAge" class="col-form-label"><b>Age</b></label>
                                                            <input type="number" name="age" class="form-control" id="newAge">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="newEmail" class="col-form-label"><b>Email</b></label>
                                                            <input type="text" name="email" class="form-control" id="newEmail">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="newPassword" class="col-form-label"><b>Password</b></label>
                                                            <input type="password" name="password" class="form-control" id="newPassword">
                                                        </div>
                                                        <div class="mb-3">
                                                            <select class="form-select" name="roles" multiple="multiple">
                                                                <option value="1">ADMIN</option>
                                                                <option value="2" selected>USER</option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <input type="submit" class="btn btn-primary" value="Add new user"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="container m-3 flex-column">
                        <div class="container h1 p-1">
                            User information-page
                        </div>
                        <div class="card">
                            <div class="card-header h5">
                                About user
                            </div>
                            <div class="card-body">
                                <table class="table table-striped border-top">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First name</th>
                                        <th>Second name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-content-currentUser"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form name="edit">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalVerticallyCenteredLabel1">Edit user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center font-weight-bold">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="h6 col-6">
                            <label for="userIdEdit">ID</label>
                            <input type="text" class="form-control" name="id" id="userIdEdit" disabled>
                            <br>
                            <label for="userFirstNameEdit">First Name</label>
                            <input type="text" class="form-control" name="firstName" id="userFirstNameEdit">
                            <br>
                            <label for="userSecondNameEdit">Last Name</label>
                            <input type="text" class="form-control" name="secondName" id="userSecondNameEdit">
                            <br>
                            <label for="userAgeEdit">Age</label>
                            <input type="number" class="form-control" name="age" id="userAgeEdit">
                            <br>
                            <label for="userEmailEdit">Email</label>
                            <input type="text" class="form-control" name="email" id="userEmailEdit">
                            <br>
                            <label for="userPasswordEdit">Password</label>
                            <input type="password" class="form-control" name="password" id="userPasswordEdit">
                            <br>
                            <label for="userRolesEdit">Roles</label>
                            <select class="form-control" name="roles" id="userRolesEdit" multiple="multiple" size="2">
                                <option value="1">ADMIN</option>
                                <option value="2">USER</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeEditModal()">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form name="delete">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalVerticallyCenteredLabel2">Delete user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center font-weight-bold">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="h6 col-6">
                            <label for="userIdEdit">ID</label>
                            <input type="text" class="form-control" name="id" disabled>
                            <br>
                            <label for="userFirstNameEdit">First Name</label>
                            <input type="text" class="form-control" name="firstName" disabled>
                            <br>
                            <label for="userSecondNameEdit">Last Name</label>
                            <input type="text" class="form-control" name="secondName" disabled>
                            <br>
                            <label for="userAgeEdit">Age</label>
                            <input type="number" class="form-control" name="age" disabled>
                            <br>
                            <label for="userEmailEdit">Email</label>
                            <input type="text" class="form-control" name="email" disabled>
                            <br>
                            <label for="userPasswordEdit">Password</label>
                            <input type="password" class="form-control" name="password" disabled>
                            <br>
                            <label for="userRolesEdit">Roles</label>
                            <select class="form-control" name="roles" multiple="multiple" size="2" disabled>
                                <option value="1">ADMIN</option>
                                <option value="2">USER</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeDeleteModal()">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/getAllUsers.js"></script>
<script src="/getCurrentUser.js"></script>
<script src="/getRolesNames.js"></script>
<script src="/clickEditModal.js"></script>
<script src="/clickDeleteModal.js"></script>
<script src="/newUser.js"></script>
<script src="/closeEditModal.js"></script>
<script src="/closeDeleteModal.js"></script>


</body>
</html>